body{
  margin: 0 auto;
}
.carousel-wrapper{
  display: flex;
  justify-content: space-between;
  overflow: hidden;


}
.wrapper{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.btn{
  padding: 10px;
  height: 480px;
  z-index: 1;

}
.btn-prev{
  height: inherit;
}
.btn-next{
  height: inherit;
}

